@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Playfair Display", serif;
  font-family: Raleway, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav ul {
  text-align: center;
}

.navbar a {
  display: block;
  list-style-type: none;
  padding: .25em;
  padding-left: .75em;
  padding-right: .75em;
  text-align: center;
  border: .1em white solid;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  font-family: Raleway, sans-serif;
  margin-left: .25em;
  margin-right: .25em;
  transition: background-color, .75s;
  -webkit-transition: background-color, .75s;
}

.navbar a:hover {
  background-color: white;
}

.navbar {
  padding: 0;
  margin: 0;
}

header {
  background-image: url("../images/teal-chocolate.jpg");
}

h1 {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
  white-space: nowrap;
  text-align: center;
  color: white;
}

.banner {
  background-image: url("../images/teal-chocolate.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.banner-content {
  margin: 0;
}

.banner-content p {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .65);
}

body {
  margin: 0;
}

li i svg {
  width: 124px;
}

span {
  display: block;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
  white-space: nowrap;
  text-align: center;
  color: #b1e0cd;
}

li {
  text-align: center;
}

.h2-header {
  border-bottom: dotted 1px #b1e0cd;
}

.selection {
  margin: auto;
  background-color: white;
}

.selection ul {
  list-style-type: none;
  padding-left: 0;
}

.selection li {
  padding-top: 1em;
  border-bottom: dotted 1px #88d8b8;
  padding-bottom: 1.5em;
}

ul > li::before {
  content: none;
}

h3 {
  white-space: nowrap;
}

.chocolatiers img {
  width: 100%;
}

.chocolatiers-content {
  padding-left: .5em;
}

.contact-us h2 {
  border-top: dotted 1px #88d8b8;
}

.contact-us {
  width: 95%;
  margin: auto;
  padding-bottom: 3em;
}

.contact-content {
  padding-top: 1em;
}

.button {
  margin: auto;
  text-align: center;
}

footer {
  background-color: #88d8b8;
  color: white;
  padding-top: .5em;
  padding-bottom: 1em;
}

.footer-content {
  padding-left: 2em;
}

@media only screen and (min-width: 38em) {

  .banner {
    padding-top: 15em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .banner-content p {
    border: 1px;
    border-radius: 15px;
  }

  .selection {
    width: 95%;
    margin: auto;
  }

  .chocolatiers img {
    width: 100%;
    padding: 1em;
  }

  .chocolatiers {
    width: 95%;
    margin: auto;
  }

  .chocolatiers-content {
    padding-right: 1em;
    padding-top: 1em;
  }

  .contact-us {
    width: 95%;
    margin: auto;
  }

  .contact-content {
    width: 75%;
    margin: auto;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    padding-top: 20em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .selection {
    width: 75%;
    margin: auto;
  }

  .contact-content {
    width: 50%;
    margin: auto;
  }

  .chocolatiers {
    width: 75%;
    margin: auto;
  }

  .chocolatiers-content {
    padding-left: 1em;
    padding-right: 1em;
  }

}

@media only screen and (min-width: 90em) {

  .chocolatiers-1 {
    width: 49%;
  }

  .chocolatiers-2 {
    width: 49%;
  }

}
